.header{
    border: 1px solid #ccc;
    grid-column: 1/-1;
    display: flex;
}
.header .logo {
    width: 50%;
}
.header .logo h3{
    line-height: 50px;
    padding-left: 50px;
}

.header .menu {
    width: 50%;
}
.header .menu ul{
    width: 75%;
    /* height: 100px; */
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.header .menu ul li{
    line-height: 50px;
    padding-left: 50px;
}
.header .menu ul li.profile{
    display: flex;
}
.header .menu ul li.profile .MuiAvatar-colorDefault{
    margin-top: 5px;
    margin-right: 5px;
    height: 25px;
    width: 25px;
}
